{% extends 'base.html' %}
{% block title %}
    完善信息
{% endblock %}
{% block label %}
    完善信息
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                 <form method="post" enctype="multipart/form-data">
                    <div>
                        <label for="username">用户名：</label>
                        <input type="text" name="username" id="username" class="form-control" value="{{ user.name }}">
                    </div>
                    <div>
                        <label for="email">邮箱：</label>

                        <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}">
                    </div>
                    <div>
                        <label for="identity">身份：</label>
                        <input type="text" name="identity" id="identity" class="form-control" value="{{ user.identity }}">
                    </div>
                    <div>
                        <label for="age">年龄：</label>
                        <input type="text" name="age" id="age" class="form-control" value="{{ user.age }}" >
                    </div>
                     <div>
                         <label for="sex">性别：</label>
                         {% if user.sex == 0 %}
                             男<input type="radio" value="1" name="sex">
                             女<input type="radio" value="0" name="sex" checked>
                         {% else %}
                             男<input type="radio" value="1" name="sex" checked>
                             女<input type="radio" value="0" name="sex">
                         {% endif %}
                     </div>
                    <div>
                        <label for="term">阶段：</label>
                        <input type="text" name="term" id="term" class="form-control" value="{{ user.term }}">
                    </div>
                    <div>
                         <label for="phone">电话：</label>
                        <input type="text" name="phone" id="phone" class="form-control" value="{{ user.phone }}" >
                    </div>
                    <div>
                        <label for="photo">头像：</label><br>
                        <img src="/static/{{ user.photo }}" alt="" style="width: 158px;">
                        <input type="file" name="photo" id="photo" class="form-control" value="{{ user.photo }}">
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary btn-user btn-block" style="margin-top: 20px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}